<div class="container mt-5">
   <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center">
        <h1 class="display-3" style="color: #2193b0;"><i class="fas fa-thermometer-half"></i> Temperature Prediction</h1>
      </div>
    </div>
  </div>

  <%# Check if records were returned before attempting to show data %>
  <% if @records.present? %>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="text-center p-4" style="background: linear-gradient(to right, #6dd5ed, #2193b0); border-radius: 15px; color: white; margin-bottom: 0;">
            <img src="https://cdn2.iconfinder.com/data/icons/weather-flat-14/64/weather02-512.png" alt="Weather Icon" style="width: 160px; height: auto;">

            <h1 class="display-1"><strong><%= @average_temperature_f %>°F</strong></h1>
            
            <p class="lead">
              <i>on <%= @datetime.strftime("%m/%d @ %I:%M %p") %></i>
            </p>
            <p class="lead">
              <%= @confidence %>% confident
            </p>
          </div>
        </div>
        <div class="row justify-content-center mt-4">
          <div class="col-md-8">
            <p class="text-center" style="font-size: 1rem; margin-top: -25px;">
              <i><%= number_with_delimiter(@records.count, delimiter: ",") %> total nearby records, using <%= number_with_delimiter(@filtered_records.count, delimiter: ",") %> relevant records</i>
            </p>
            <p><%= @time_merge %></p>
          </div>
        </div>  
      </div>
    </div>

    <br><br>
    <%# Extra data for developers to debug %>
    <% if @developer %>
      <p>Displaying first <%= [100, @filtered_records.count].min %> FILTERED records out of <%= @filtered_records.count %> found.</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Temperature</th>
            <th>Recorded At</th>
          </tr>
        </thead>
        <tbody>
          <% @records.first(100).each do |record| %>
            <tr>
              <td><%= record.location.latitude %></td>
              <td><%= record.location.longitude %></td>
              <td><%= record.outside_temp %>°C</td>
              <td><%= record.recorded_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <p>No records found. Please adjust your search criteria and try again.</p>
  <% end %>

  <% if @developer %>
    <% if @filtered_records.present? %>
      <p>Displaying first <%= [100, @filtered_records.count].min %> FILTERED records out of <%= @filtered_records.count %> found.</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Temperature</th>
            <th>Recorded At</th>
          </tr>
        </thead>
        <tbody>
          <% @records.first(100).each do |record| %>
            <tr>
              <td><%= record.location.latitude %></td>
              <td><%= record.location.longitude %></td>
              <td><%= record.outside_temp %>°C</td>
              <%# convert to est and 12 hour format%>
              <td><%= record.recorded_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y %I:%M %p") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No records found after filtering.</p>
        <% if @records.empty? %>
          <p>Adjust your search criteria and try again.</p>
        <% else %>
          <p>Error with filtering</p>
        <% end %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col">
      <h2>Nearby Datapoints</h2>
      <div id="records-map" style="height: 500px;"></div>
    </div>
    <div class="col">
      <h2>Relevant Datapoints</h2>
      <div id="filtered-records-map" style="height: 500px;"></div>
    </div>
  </div>

  <%# Javascrips for map display of datapoints %>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      <% if @records.present? %>
      // Initialize the first map with @records
      initializeMap('records-map', <%= @records.first(1000).map { |r| [r.location.latitude, r.location.longitude] }.to_json.html_safe %>, <%= [@latitude_global, @longitude_global].to_json.html_safe %>);

      <% end %>
      
      <% if @filtered_records.present? %>
      // Initialize the second map with @filtered_records
      initializeMap('filtered-records-map', <%= @filtered_records.map { |r| [r.location.latitude, r.location.longitude] }.to_json.html_safe %>, <%= [@latitude_global, @longitude_global].to_json.html_safe %>);

      <% end %>
    });

    function initializeMap(mapId, records, globalPoint) {
      var map = L.map(mapId).setView([37.8, -96], 4);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
      }).addTo(map);

      var bounds = new L.LatLngBounds();
      
      // Create a special marker for the global point with a different icon
      var globalPoint = L.marker([<%= @latitude_global %>, <%= @longitude_global %>], {
        icon: L.icon({
          iconUrl: 'https://static.vecteezy.com/system/resources/previews/010/898/284/original/red-pin-3d-png.png',
          iconSize: [30, 30], // can adjust size as needed
          iconAnchor: [15, 50], // ensures the icon is centered
          popupAnchor: [0, -50] // ensures the popup opens above the icon
        })
      }).addTo(map).bindPopup("User's Point");

      bounds.extend([<%= @latitude_global %>, <%= @longitude_global %>]);


      records.forEach(function(coords) {
        var marker = L.marker(coords).addTo(map);
        bounds.extend(marker.getLatLng());
      });

      if (records.length > 0) {
        map.fitBounds(bounds); // Fits the map view to the bounds of the markers
      }
    }
  </script>

  <div class="text-center mt-4">
    <%= link_to 'New Search', root_path, class: "btn btn-secondary" %>
  </div>
</div>